name: Test container builds

on:
  push:
    branches-ignore: [ "main" ]
    paths:
      - '.github/workflows/build.yml'
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - '**.py'
      - '**.py'
      - '**.py'
      - 'requirements.txt'
      - 'Dockerfile'
      - '.dockerignore'

jobs:

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - 
        name: Checkout
        uses: actions/checkout@v4
      - 
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3  # https://github.com/docker/setup-qemu-action
      - 
        name: Set up Docker
        uses: docker/setup-buildx-action@v3  # https://github.com/docker/setup-buildx-action
      - name: Extract GO_VERSION
        id: extract
        run: |
          echo "github.ref: ${{ github.ref }}"
          echo "github.ref_name: ${{ github.ref_name }}"
          echo "github.repository: ${{ github.repository }}"
          if [ -f go.mod ]; then
            go_version=$(awk -F ' ' '$1 == "go" { print $2 }' go.mod)
            echo "go_version=${go_version}" >> $GITHUB_OUTPUT
          else
            echo 'go_version=' >> $GITHUB_OUTPUT
          fi
      - 
        name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v5.3.0
      - 
        name: Build
        uses: docker/build-push-action@v6  # https://github.com/docker/build-push-action
        with:
          push: false
          context: .
          platforms: linux/amd64,linux/arm64
          tags: ${{ github.repository }}:${{ env.GITHUB_REF_SLUG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: GO_VERSION=${{ steps.extract.outputs.go_version }}
